<div style="padding: 50px;">
    <h1 class="text-center"> Reporte vehiculo</h1>
    <table class="table table-hover">
        <thead class="table-danger">
            <tr>
                <th scope="col">Placa</th>
                <th scope="col">Marca</th>
                <th scope="col">Nombre Propietario</th>
                <th scope="col">Nombre conductor</th>
            </tr>
        </thead>
        <tbody>
            
            @for (item of reportList; track $index) {
                <tr>
                    <td>{{ item.plate }}</td>
                    <td>{{ item.brand }}</td>
                    <td>{{ item.ownerName+" "+ item.ownerLastName }} </td>
                    <td>{{ item.driverName+" "+ item.driverLastName }}</td>
                </tr>
            }
            
        </tbody>
    </table>
</div>
