<div style="padding: 70px;">
    <h1 class="text-center"> Realizar registro</h1>
    <form [formGroup]="form" action="javascript:void(0)"  (submit)="onSubmit()">
        <div class="form-row">
          <div class="col-md-6 mb-4">
            <label for="validationDefault01">Name</label>
            <input type="text" formControlName="name" class="form-control" [(ngModel)]="driver.name" name="name" id="validationDefault01" placeholder="Name" required>
          </div>
          <div class="col-md-6 mb-4">
            <label for="validationDefault02">Last name</label>
            <input type="text" formControlName="lastName" class="form-control" [(ngModel)]="driver.lastName" name="lastName" id="validationDefault02" placeholder="Last name" required>
          </div>
          <div class="col-md-6 mb-4">
            <label for="validationDefault06">Identification</label>
            <input type="number" formControlName="identification" class="form-control" [(ngModel)]="driver.identification" name="identification" id="validationDefault02" placeholder="Identification" required>
          </div>
        </div>
        <div class="form-row">
          <div class="col-md-6 mb-4">
            <label for="validationDefault03">City</label>
            <input type="text" formControlName="city" class="form-control" [(ngModel)]="driver.city" name="city" id="validationDefault03" placeholder="City" required>
          </div>
          <div class="col-md-6 mb-4">
            <label for="validationDefault04">Phone</label>
            <input type="number" formControlName="phone" class="form-control" [(ngModel)]="driver.phone" name="phone" id="validationDefault04" placeholder="Phone" required>
          </div>
          <div class="col-md-6 mb-4">
            <label for="validationDefault05">Address</label>
            <input type="text" formControlName="address" class="form-control" [(ngModel)]="driver.address" name="address" id="validationDefault05" placeholder="Address" required>
          </div>
        </div>
        <button class="btn btn-primary" type="submit">Submit form</button>
      </form>
</div>
