<main class="main">
  <div class="content">
    <ul class="nav justify-content-center">
      <li class="nav-item">
        <a class="nav-link active" href="/owner">Crear Propietario</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/driver">Crear Conductor</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/vehicle">Crear  Vehiculo</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/report">Reporte</a>
      </li>
    </ul>
  </div>
</main>
<router-outlet></router-outlet>
