<div style="padding: 70px;">
    <h1 class="text-center"> Realizar registro</h1>
    <form [formGroup]="form" action="javascript:void(0)"  (submit)="onSubmit()">
        <div class="form-row">
          <div class="col-md-6 mb-4">
            <label for="validationDefault01">Plate</label>
            <input type="text" formControlName="plate" class="form-control" [(ngModel)]="vehicle.plate" name="plate" id="validationDefault01" placeholder="Plate" required>
          </div>
          <div class="col-md-6 mb-4">
            <label for="validationDefault02">Color</label>
            <input type="text" formControlName="color" class="form-control" [(ngModel)]="vehicle.color" name="color" id="validationDefault02" placeholder="Color" required>
          </div>
          <div class="col-md-6 mb-4">
            <label for="validationDefault06">Brand</label>
            <input type="text" formControlName="brand" class="form-control" [(ngModel)]="vehicle.brand" name="brand" id="validationDefault02" placeholder="Brand" required>
          </div>
        </div>
        <div class="form-row">
          <div class="col-md-6 mb-4">
            <label for="validationDefault06">Type</label>
            <select class="form-select form-control" formControlName="type" [(ngModel)]="vehicle.type" name="type" aria-label="Default select example" required>
                <option value="particular">particular</option>
                <option value="publico">publico</option>
            </select>
          </div>
          <div class="col-md-6 mb-4">
            <label for="validationDefault04">Owner</label>
            <select class="form-select form-control" formControlName="fk_owner_id" [(ngModel)]="vehicle.fk_owner_id" name="fk_owner_id" aria-label="Default select example" required>
                @for (item of ownerList; track $index) {
                    <option value="{{ item.id }}">{{ item.name+" "+ item.lastName }}</option>
                }
            </select>
          </div>
          <div class="col-md-6 mb-4">
            <label for="validationDefault05">Driver</label>
            <select class="form-select form-control" formControlName="fk_driver_id" [(ngModel)]="vehicle.fk_driver_id" name="fk_driver_id" aria-label="Default select example" required>
                @for (item of driverList; track $index) {
                    <option value="{{ item.id }}">{{ item.name+" "+ item.lastName }}</option>
                }
            </select>
          </div>
        </div>
        <button class="btn btn-primary" type="submit">Submit form</button>
      </form>
</div>
